<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="main">
    <% if user_signed_in? %>
    <% if current_user.profile_id == nil %>
    You don't yet have a profile
    <br><br>
    <%= link_to "Create Profile", new_profile_path %><br>
    <% else %>
    <br><br>
    <%= image_tag @profiles[session[:profile_index]].pet_image.url(:medium) %><br><br>
    Name: <%= @profiles[session[:profile_index]].pet_name %>
    Age: <%= @profiles[session[:profile_index]].pet_age %>
    <br><br>
    <span class="like"><%= button_to "Like", profile_path(@profiles), method: :get %></span>
    <span class="dislike"><%= button_to "Dislike", profile_path(@profiles), method: :put %></span>
    <% end %>
    <% else %>
    Please sign up or sign in to use Pinder
    <% end %>
    </div>
  </body>
</html>
