<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="main">
    <% if user_signed_in? %>
    <% if current_user.profile_id == nil %>
    You don't yet have a profile
    <br><br>
    <%= link_to "Create Profile", new_profile_path %><br>
    <% else %>
    <section class="like">
      <%= button_to "WOOF WOOF",  profile_path(@profiles), method: :get, :class => "button_like" %>
    </section>
    <section class="details">
    <b>Name:</b> <%= @profiles[session[:profile_index]].pet_name %>
    <b>Age:</b> <%= @profiles[session[:profile_index]].pet_age %><br><br>
    <%= image_tag @profiles[session[:profile_index]].pet_image.url(:medium) %>
  </section>
  <section class="dislike">
    <%= button_to "DOWN BOY", profile_path(@profiles), method: :put, :class => "button_dislike" %>
  </section>
    <% end %>
    <% else %>
    Please sign up or sign in to use Pinder
    <% end %>
    </div>
  </body>
</html>
